:root
{
    --Darkcyan: hsl(185, 75%, 39%);
    --verydarkdesaturatedblue: hsl(229, 23%, 23%);
    --varkgrayishblue: hsl(227, 10%, 46%);
}
p
{
    color : gray
}
.age
{
    color: gray;
}
.main-container
{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:var(--Darkcyan);
}

.card-footer
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-img
{
    border: 6px solid white;
    border-radius: 50%;
    position:relative ;
    top: -55px;
}

.card-body
{
    text-align: center;
}


.likes
{
    padding: 40px;
}

.top-img
{
    position: absolute;
    top: -600px;
    right: 700px;
}


.bottom-img
{
    position: absolute;
    bottom: -600px;
    left: 700px;
}